/* @media (max-width: 320px) {

} */
@media (max-width: 630px) {
  .project {
    width: 100% !important;
  }
  div.menu-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    z-index: 1;
  }
  div.pc-header {
    display: none;
  }
  main.main {
    padding-top: 120px;
  }
  .nav-item,
  .switch-container.mobile {
    margin: 20px;
  }
  #light .menu {
    background-color: #fff;
  }
  #dark .menu {
    background-color: #000;
  }
  .menu {
    left: 100%;
    transition: left 1s;
  }
  .menu.slide {
    left: 50%;
  }
  .menu-btn {
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    z-index: 1;
  }

  .focus {
    background: none !important;
    border-bottom: 2px solid #222;
  }

  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: right 1s;
  }
  .backdrop.slide {
    right: 50%;
  }
  p.intro {
    line-height: 1.2rem;
  }
}
@media (max-width: 854px) {
  li.project {
    width: 47%;
  }
}
