#dark {
  background-color: #121212;
  background-image: url('./assets/svg/bg-stars.svg');
}
.main {
  padding-top: 200px;
}
#top-bar {
  border-bottom: 1px solid #eaeaea;
  z-index: 1;
}
#light #top-bar,
#light svg {
  color: #6c757d;
  background-color: #fff;
}
#dark #top-bar {
  background-color: #000;
  border-bottom: 1px solid #696969;
}
#dark svg {
  color: #fff;
}
#dark .intro,
#dark .container,
#dark .projects-container {
  color: #6c757d;
  background-color: #121212;
}
#light .projects-container {
  background-color: #cdcdd4;
}
#dark .work-section-heading,
#dark .contact-heading,
#dark input,
#dark label,
#dark textarea,
#dark .work-link,
#dark .skill-heading,
#dark .feature-projects-heading,
#dark .projects-heading,
#dark .footer-heading,
#dark h5 {
  color: #fff;
}
#light .work-link {
  color: #696969;
}

#light .logo-container > svg {
  color: #000;
}

.nav-item {
  text-transform: uppercase;
}
.nav-item-link {
  padding: 10px 24px;
  min-height: 36px;
  margin-right: 2px;
  border-radius: 4px;
  font-size: 14px;
}
.mail-link:hover,
#light .focus,
.nav-item-link:hover {
  color: #6c757d;
  background-color: #121212;
  font-weight: bold;
}
#dark .focus,
#dark .mail-link:hover,
#dark .nav-item-link:hover {
  background-color: #fff;
}
.intro {
  line-height: 2rem;
  text-align: justify;
}

.hidden,
.menu-container {
  display: none;
}
.pc-header {
  display: flex;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.project {
  height: 300px;
  width: 32%;
  border-radius: 0.2rem;
  background-color: #fff;
  box-shadow: 0px 8px 6px -6px rgba(235, 234, 242, 0.58);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: transform, box-shadow;
}
.project:hover {
  transform: translate(0px, -10px);
  box-shadow: 2px 4px 4px 4px rgba(235, 234, 242, 0.58);
}

.project__logo {
  background: rgba(245, 244, 252, 0.62);
}
.project__logo,
.contact-form,
.form-name-email {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form {
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}
.contact-heading{
  font-weight: 600;
}

.project__logo-wrapper {
  display: flex;
  align-items: center;
  height: 180px;
}
#light .project__logo-wrapper > svg,
#dark .project__logo-wrapper > svg {
  color: #000;
  background: none;
}

.project__logo-img {
  height: 60px;
}
.project__info {
  padding: 1rem;
}
.feature-project {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fafafa;
}
#dark .feature-project,
#dark .feature-project > span {
  background-color: #6c757d;
  color: #121212;
}

.feature-project:hover {
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
/*  */
.github-link,
.git-icon,
.vscode-icon {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
.github-link:hover {
  background-color: #ddd;
}
.mail-link {
  border: 1px solid #eaeaea;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font-weight: bold;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.icon-github {
  background: url('./assets/svg/icon-social-github.svg');
}
#dark .icon-github {
  background-color: #fff;
}
.soft-skill {
  margin: 10px 0;
  list-style: square;
}
.s-card,
.s-icon-wrap {
  border-radius: 6px;
}
.s-card {
  border: 1px solid;
  padding: 1rem;
  height: 100%;
}
#dark .s-card{
  border-color: #fafafa;
}
.s-icon-wrap {
  padding: 10px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#light .s-icon-wrap > svg,
.s-icon-wrap {
  background-color: #2c2929;
  color: #fff;
}
.s-heading {
  font-weight: bolder;
}
.s-heading ~ p {
  color: #6c757d;
}
.input {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid currentColor;
}
.form-btn {
  position: relative;
  background-color: #000;
  border-radius: 5px;
  color: #cdcdd4;
  height: 45px;
}
.inactive-btn {
  opacity: 0.5;
}
.email-wrapper{
  margin-left: 25px;
}
/* refactor */
.thanks-container{
  height: 100vh;
}
.divider {
  display: inline-block;
  width: 100%;
  height: 6px;
  background: url('./assets/svg/divider.svg');
}
@import url('./css/animation.css');
@import url('./css/mobile.css');
