@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@font-face {
  font-family: 'MonoLisa';
  src: url('./assets/font/MonoLisa-Regular.woff2') format('woff'),
  url('./assets/font/MonoLisa-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MonoLisa', 'Fira Code', monospace, 'DejaVu Sans Mono',
  'Lucida Console';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

ul {
  margin-block-end: unset;
  margin-block-start: unset;
}
a {
  color: var(--bs-gray);
  text-decoration: none;
}
li {
  list-style-type: none;
}
